.listItem {
	width: 100%;
	padding: 0.5rem 0.5rem;
	border-radius: 8px;
	display: flex;
	align-items: center;
	/* filter: drop-shadow(0 0 0.1rem #fafafa); */
}
.listItem:nth-child(odd) {
	background: #353535;
}
.listItem:nth-child(even) {
	background: #505050;
}

.itemCheckbox {
	width: 5%;
}

.itemTitle {
	width: 80%;
	font-size: 1.5rem;
	color: #fafafa;
	padding: 0 0.5rem;
}
.itemComplete {
	text-decoration: line-through;
	color: #bcbcbc;
}

.itemDelete {
	width: 15%;
	font-size: 1rem;
	background: #202020;
	color: #fafafa;
	outline: none;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 16px;
}
.itemDelete:hover {
	background: #252525;
}
