/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	items-align: center;
	width: 100%;
	max-width: 1024px;
	padding: 1rem 2rem;
	gap: 0.5rem;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.navbar .back {
	text-decoration: none;
	/* color: #fafafa; */
	/* font-size: 1.25rem; */
	padding: 0.5rem 1rem;
	font-weight: bold;
	border-radius: 0.5rem;
	/* background: #333; */
	transition: all 0.1s ease-in-out;

	background: #fafafa;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	filter: drop-shadow(0 0 0.1rem #fafafa);
	color: #000;
}
.navbar .back:hover {
	/* background: #555; */

	background: #dfdfdf;
}

.navbar .menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar .menu ul {
	display: flex;
	list-style-type: none;
	margin: auto 0;
}

.navbar .menu ul li a {
	text-decoration: none;
	color: #fafafa;
	font-size: 1.25rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	transition: all 0.1s ease-in-out;
}
.navbar .menu ul li a:hover {
	background: #333;
}

.navbar .menu ul li a.active {
	color: #fafafa;
	text-decoration: underline;
	text-underline-offset: 0.25rem;
	cursor: default;
}

.navbar .menu ul li a.active:hover {
	background: #171717;
}
